/* General Setting */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  /* 10px / 16 = 0.6225*/
  font-size: 62%;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  font-weight: 400;
}

/* .container {
   max-width: 120rem;

  padding: 0 3.2rem;
   margin: 0 auto;  */

.navbar {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 10rem 1rem 10rem;
  margin: 0px;
  background-color: #000;
  color: #fff;
  gap: 5rem;
  overflow-x: hidden;
}

.navbar div img {
  margin-left: -20px;
  width: 10rem;
}
.line::before {
  content: "";
  /* width: 0.5rem; */
  padding: 10px 2rem;
  border-left: 0.2rem solid#fff;
}
.list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
}
.list-item {
  list-style: none;
  font-size: 1.4rem;
}

.list-item:first-child::after {
  content: "";
  border: solid #ffffff;
  border-width: 0 0.2rem 0.2rem 0;
  display: inline-block;
  padding: 0.3rem;
  margin-left: 1rem;
  transform: rotate(45deg);
}

.btn {
  display: inline-block;
  position: absolute;
  right: 10rem;
}
.button-small {
  padding: 0.6rem 3.2rem 0.6rem 3.2rem;
  border: none;
  background-color: #cb04cb;
  font-weight: 600;
  color: #fff;
  font-size: 1.2rem;
  border-radius: 0.5rem;
}

.hero {
  height: 100vh;
  background-image: url(./assets/bg.png);
  background-size: cover;
  background-repeat: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.hero-heading {
  margin-top: 15rem;
  font-size: 6rem;
  padding: 0 25rem 0 25rem;
  line-height: 1.2;
  font-weight: 500;
  text-align: center;
  color: #fff;
}
.hero-description {
  margin-top: 2rem;
  color: #fff;
  font-size: 1.8rem;
}

.button-large {
  margin-top: 5rem;
  padding: 1rem 1.8rem 1rem 1.8rem;
  background-color: #cb04cb;
  border: none;
  color: #fff;
  font-size: 1.8rem;
  border-radius: 0.5rem;
  font-weight: 600;
}
